<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceHuesped" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://desktop-9er81hg/Servicios/Servicio.ServiceHuesped.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceHuesped"
                contract="ProxyHuesped.IServiceHuesped" name="BasicHttpBinding_IServiceHuesped" />
        </client>
    </system.serviceModel>
  <serviceBehaviors>

    <behavior name="ServiceBehavior">

      <serviceMetadata httpGetEnabled="true"/>

      <serviceDebug includeExceptionDetailInFaults="true"/>

    </behavior>

  </serviceBehaviors>
</configuration>